<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
      <!--
       ** Oracle JET V7.2.0 hybrid mobile application header pattern.
       ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
       ** more information on how to use this pattern.
    -->
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <!-- This is where your main page content will be loaded -->
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>About us</h1>
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-sm-12 oj-flex-item" style="text-align: center;"> 
                <div class="about-img"></div>
            </div>
        </div>

        <div>
            <p>Daret’App is a mobile application that makes “ROSCA” available to you with few clicks on your phone. </p>
            <p><b>Our mission</b> is to digitize solidarity savings and bring together savers on a single platform and play the role of an intermediary between them. </p>
            <p><b>Our vision</b> is to Build our reputation around innovative financial products and become the the leader of solidarity savings platforms in Morocco.</p>
        </div>
      </div>
    </div>
  </div>
</div>