<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page">
    <div class="oj-applayout-fixed-top">
        <!--
             ** Oracle JET V7.2.0 hybrid mobile application header pattern.
             ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
             ** more information on how to use this pattern.
          -->
        <header role="banner" class="oj-hybrid-applayout-header">
            <oj-module config="[[headerConfig]]"></oj-module>
        </header>
    </div>
    <!-- This is where your main page content will be loaded -->
    <div class="oj-applayout-content">
        <div role="main" class="oj-hybrid-applayout-content">
            <div class="oj-hybrid-padding">

                <div style="width:100%" class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center"
                    :class="[[{'oj-sm-flex-direction-column': false}]]">
                    <!--
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-sm-12 oj-flex-item">
                            <img style="width: 250px;" src="../../css/images/slogan_1.png" />
                        </div>
                    </div>
                    -->
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-sm-12 oj-flex-item" style="text-align: center;"> 
                            <div class="home-img"></div>
                        </div>
                    </div>
                    
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item">
                            <oj-navigation-list drill-mode="sliding" style="font-size: x-large;" id="navList"
                                class="oj-hybrid-padding oj-navigationlist-stack-icon-label" data="[[treeNavDataProvider]]"
                                edge="start" item.renderer="[[KnockoutTemplateUtils.getRenderer('navTemplate', true)]]"
                                selection="{{router.stateId}}">
                            </oj-navigation-list>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>