<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <!--
       ** Oracle JET V7.2.0 hybrid mobile application header pattern.
       ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
       ** more information on how to use this pattern.
    -->
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <!-- This is where your main page content will be loaded -->
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">

        <input type="file" id="upload-profile-pic" class="demo-hide-photo-input" aria-label="upload profile photo" accept="image/*" aria-hidden="true">

        <div>
  
          <div class="demo-profile-top-section demo-profile-top-section-gradient-blue">
            <div class="demo-profile-photo-container">
              <div class="demo-profile-photo"></div>
            </div>
  
              <h2 id="name" class="demo-profile-name">
                <oj-bind-text value="Sanae Okacha"></oj-bind-text>
              </h2>
              <div id="title" class="demo-profile-title oj-text-lg">
                <oj-bind-text value="Etudiante M2"></oj-bind-text>
              </div>
          </div>

  
            <oj-form-layout style="font-size: large;"> 
              <div class="oj-flex-bar">
                <div class="demo-profile-item-icon-wrapper demo-mobile-icon-wrapper">
                  <i class="fa fa-mobile-alt" style="font-size:24px;color:white;margin-top: 7px;"></i>
                </div>
                <div>
                  <oj-label  id='mobileLabel' style="font-size: large;">Mobile</oj-label>
                  <span id="mobileSpan"><oj-bind-text value="06 06 06 06 06"></oj-bind-text></span>
                </div>
              </div>
              <div class="oj-flex-bar">
                <div class="demo-profile-item-icon-wrapper demo-office-icon-wrapper">
                    <i class="fa fa-home" style="font-size:24px;color:white;margin-top: 7px;"></i>
                </div>
                <div>
                  <oj-label id='homeLabel' style="font-size: large;">Home</oj-label>
                  <span id="officeSpan"><oj-bind-text value="Université Souissi"></oj-bind-text></span>
                </div>
              </div>
              <div class="oj-flex-bar">
                <div class="demo-profile-item-icon-wrapper demo-email-icon-wrapper">
                    <i class="fa fa-envelope" style="font-size:24px;color:white;margin-top: 7px;"></i>
                </div>
                <div>
                  <oj-label id='emailLabel' style="font-size: large;">Email</oj-label>
                  <span id="emailSpan"><oj-bind-text value="sanae@okacha.org"></oj-bind-text></span>
                </div>
              </div>
              <div class="oj-flex-bar">
                <div class="demo-profile-item-icon-wrapper demo-address-icon-wrapper">
                    <i class="fa fa-wallet" style="font-size:24px;color:white;margin-top: 7px;"></i>
                </div>
                <div>
                  <oj-label id='locationLabel' style="font-size: large;">e-Wallet Credit</oj-label>
                  <span id="locationSpan" style="font-size:24px"><b><oj-bind-text value="1500 Dhs"></oj-bind-text></b></span>
                </div>
              </div>
            </oj-form-layout>
        </div>


    </div>
  </div>
</div>