<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <!--
       ** Oracle JET V7.2.0 hybrid mobile application header pattern.
       ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
       ** more information on how to use this pattern.
    -->
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <!-- This is where your main page content will be loaded -->
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Create a Project</h1>
        <div>
          <!--
          <span>
            <oj-bind-if test="[[tontineType === 'free']]">
              <i class="fa fa-users" style="font-size:36px;color:#D49D29"> </i>
            </oj-bind-if>
            <oj-bind-if test="[[tontineType === 'secure']]">
              <i class="fa fa-user-shield" style="font-size:36px;color:#D49D29"> </i>
            </oj-bind-if>
          </span>
        -->
          <oj-form-layout id="myform" label-edge="start" max-columns="1" direction="column">
            <oj-input-text id="f1" label-hint="Name" placeholder="Project's name" required="true" help.instruction="Name"
              value="{{nom}}">
            </oj-input-text>
            
            <oj-input-text id="f3" label-hint="Category" placeholder="Category" required="true" help.instruction="Category"
              value="{{categorie}}">
            </oj-input-text>

            <oj-input-text id="f7" label-hint="Duration" placeholder="Duration" required="true" help.instruction="Duration"
              value="{{duration}}">
            </oj-input-text>

            <oj-input-text id="f4" label-hint="Cost" placeholder="Cost" required="true" help.instruction="Cost"
              value="{{cost}}">
          </oj-input-text>

          <oj-text-area id="f2" label-hint="Description" placeholder="Project's description" required="true" help.instruction="Description"
              value="{{description}}">
            </oj-text-area>

            <oj-button id="submit" on-oj-action="[[btnCreate]]">
              Submit the Project
              <span style="font-size:24px;" class="oj-tabbar-item-icon fa fa-arrow-circle-right"></span>
            </oj-button>

          </oj-form-layout>



        </div>

        <div id="popupWrapper">
          <oj-popup id="popup1" class="demo-popup" tail="none" position.my.horizontal="center"
            position.my.vertical="bottom" position.at.horizontal="center" position.at.vertical="bottom"
            position.of="window" position.offset.y="-10" modality="modal"
            on-oj-animate-start="[[startAnimationListener]]">
            <div class="demo-popup-body">
              <div class="demo-popup-header">
                <h5>Daret added</h5>
              </div>
              <div class="demo-popup-content">
                <p><i class="fa fa-check-circle" style="font-size:36px;color:green"></i></p>
                <p>Your Project has been created successfully</p>

                <p>Please share this code with anyone who is interested in contributing on this project:</p>

                  <h2 style="color:black">
                    <oj-bind-text value="[[ref]]"></oj-bind-text>
                  </h2>

                Daret'App Team<br />
              </div>
              <div class="demo-popup-footer">
                <oj-button id="btnCancel" on-click="[[cancelListener]]">
                  Ok
                </oj-button>
              </div>
            </div>
          </oj-popup>
        </div>

      </div>
    </div>
  </div>
</div>