<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
      <!--
       ** Oracle JET V7.2.0 hybrid mobile application header pattern.
       ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
       ** more information on how to use this pattern.
    -->
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <!-- This is where your main page content will be loaded -->
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">

          <div class="oj-flex oj-flex-items-pad oj-hybrid-padding">

              <div class="oj-sm-12 oj-flex-item">
                <oj-toolbar id='myToolbar' aria-label='Editing Toolbar' aria-controls='controlled'
                            :class="[[{'oj-toolbar-top-border': true, 
                                    'oj-toolbar-bottom-border': true}]]">
                  <oj-button id="return" on-oj-action="[[btnReturn]]">
                      <span style="font-size:24px;" class="oj-tabbar-item-icon fa fa-arrow-circle-left"></span>
                    Return
                  </oj-button>
                </oj-toolbar>
              </div>
  
          </div>

        <h2>
            <span class="oj-sm-flex-initial oj-flex-item oj-text-md oj-text-secondary-color">
                <oj-bind-if test="[[projectDetail.categorie === 'Social']]">
                    
                    <p style="text-align: center;"> <i class="fas fa-users" style="font-size:24px;color:green"> </i>  Réf : <b><oj-bind-text value="[[projectDetail.id]]"></oj-bind-text></b></p>
                </oj-bind-if>
                <oj-bind-if test="[[projectDetail.categorie === 'Urban']]">
                    
                    <p style="text-align: center;"> <i class="fas fa-city" style="font-size:24px;color:grey">
                    </i>  Réf : <b><oj-bind-text value="[[projectDetail.id]]"></oj-bind-text></b></p>
                </oj-bind-if>
            </span>
        </h2>
        <div>
            <div class="oj-flex oj-flex-items-pad">
              
              <div class="oj-sm-6 oj-flex-item">
                  <p style="text-align: center;">Name: <b><oj-bind-text value="[[projectDetail.nom]]"></oj-bind-text></b></p>
              </div> 
              <div class="oj-sm-6 oj-flex-item">
                  <p style="text-align: center;">Category: <b><oj-bind-text value="[[projectDetail.categorie]]"></oj-bind-text></b></p>
              </div>
            
            </div>
            
            <div class="oj-flex oj-flex-items-pad oj-hybrid-padding">    
              <div class="oj-sm-6 oj-flex-item">
                  <p style="text-align: center;"><i class="fa fa-money-bill-alt" style="font-size:36px;color:#D49D29"></i></p>
                  <p style="text-align: center;"><b>Cost: </b><oj-bind-text value="[[projectDetail.montant]]"></oj-bind-text>Dhs</p>
              </div>
              <div class="oj-sm-6 oj-flex-item">
                  <p style="text-align: center;"><i class="fa fa-wallet" style="font-size:36px;color:#D49D29"></i></p>
                  <p style="text-align: center;"><b>Collected: </b><oj-bind-text value="[[projectDetail.collecte]]"></oj-bind-text>Dhs</p>
              </div> 
            </div>
            
              <p>Description: <b><oj-bind-text value="[[projectDetail.description]]"></oj-bind-text></b></p>
          



        </div>
      </div>
    </div>
  </div>
</div>