<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page">
    <div class="oj-applayout-fixed-top">
        <!--
       ** Oracle JET V7.2.0 hybrid mobile application header pattern.
       ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
       ** more information on how to use this pattern.
    -->
        <header role="banner" class="oj-hybrid-applayout-header">
            <oj-module config="[[headerConfig]]"></oj-module>
        </header>
    </div>
    <!-- This is where your main page content will be loaded -->
    <div class="oj-applayout-content">
        <div role="main" class="oj-hybrid-applayout-content">
            <div class="oj-hybrid-padding">

                <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-flex-end"
                    :class="[[{'oj-sm-flex-direction-column': false}]]">
                    <oj-menu-button id="menuButton">
                        <span style="font-size:22px"><i style="font-size:18px" class="fa fa-plus-circle"></i> New Project </span>
                        <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
                        <oj-menu id="myMenu" slot="menu" style="display:none" on-oj-action="[[menuItemAction]]">
                            <oj-option id="new" value="new">
                                    <span class="fas fa-project-diagram" slot="startIcon"></span>Create a new Project
                            </oj-option>
                        </oj-menu>
                    </oj-menu-button>
                </div>
                <div>
                    <div id="listviewContainer">

                        <strong data-bind="text: action"></strong>

                        <oj-list-view id="listview" style="width:100%;height:100vh-20px" data="[[dataSource]]">
                            <template slot="itemTemplate" data-oj-as="item">
                                <li class="oj-swipeactions-container">
                                    <oj-swipe-actions on-oj-action="[[handleAction]]">
                                        <div style="background-color:#f7f7f8;background-image: linear-gradient(#ffffff, #1E90FF);">
                                          
                                            <div class="oj-flex row">
                                                <div class="oj-lg-10 oj-md-10 oj-sm-10"
                                                    style="font-weight:bold; font-size:24px;color:#1E90FF">
                                                    <oj-bind-text value="[[item.data.nom]]"></oj-bind-text>
                                                </div>
                                                
                                                <div class="oj-lg-10 oj-md-10 oj-sm-10"
                                                style="font-size:16px;color:black">
                                                <i class="fas fa-wallet"></i>
                                                <oj-bind-text value="[[item.data.collecte]]"></oj-bind-text> / 
                                                <oj-bind-text value="[[item.data.montant]]"></oj-bind-text> Dhs
                                                </div>
                                                <div class="oj-lg-10 oj-md-10 oj-sm-10"
                                                style="font-size:16px;color:black">
                                                <oj-bind-text value="Duration"></oj-bind-text>:  
                                                <oj-bind-text value="[[item.data.duration]]"></oj-bind-text> 
                                                </div>
                                                <div class="oj-lg-10 oj-md-10 oj-sm-10"
                                                style="font-size:16px;color:black">
                                                <oj-bind-text value="Category"></oj-bind-text>:  
                                                <oj-bind-text value="[[item.data.categorie]]"></oj-bind-text> 
                                                </div>
                                                <div class="oj-lg-10 oj-md-10 oj-sm-10"
                                                style="font-size:16px;color:black">
                                                <oj-bind-text value="Description" style="font-weight: bold;"></oj-bind-text>:  
                                                <oj-bind-text value="[[item.data.description]]"></oj-bind-text> 
                                                </div>
                                        
                                            </div>
                            
                                        </div>
                                        <template slot="start">
                                            <oj-option value="open">Open
                                                <span class="demo-icon-font fa fa-eye" slot="startIcon"></span>
                                            </oj-option>
                                        </template>
                                        <template slot="end">
                                            <oj-option class="oj-swipeactions-danger oj-swipeactions-default"
                                                    value="trash">Remove
                                                    <span class="demo-icon-font fa fa-trash" slot="startIcon"></span>
                                                </oj-option>
                                        
                                        </template>
                                    </oj-swipe-actions>
                                </li>
                            </template>
                        </oj-list-view>

                    </div>


                </div>
            </div>
        </div>
    </div>

</div>