<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
      <!--
       ** Oracle JET V7.2.0 hybrid mobile application header pattern.
       ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
       ** more information on how to use this pattern.
    -->
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <!-- This is where your main page content will be loaded -->
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">

          <div class="oj-flex oj-flex-items-pad oj-hybrid-padding">

              <div class="oj-sm-12 oj-flex-item">
                <oj-toolbar id='myToolbar' aria-label='Editing Toolbar' aria-controls='controlled'
                            :class="[[{'oj-toolbar-top-border': true, 
                                    'oj-toolbar-bottom-border': true}]]">
                  <oj-button id="return" on-oj-action="[[btnReturn]]">
                      <span style="font-size:24px;" class="oj-tabbar-item-icon fa fa-arrow-circle-left"></span>
                    Return
                  </oj-button>
                  <!--
                  <oj-button id="chat">
                      <span style="font-size:24px;" class="oj-tabbar-item-icon fa fa-comment-dots"></span>
                    Chatter
                  </oj-button>
                  -->
                  <oj-button id="personnes" on-oj-action="[[btnParticipants]]">
                      <span style="font-size:24px;" class="oj-tabbar-item-icon fa fa-users"></span>
                    Participants
                  </oj-button>
                </oj-toolbar>
              </div>
  
          </div>

        <h2>
            <span class="oj-sm-flex-initial oj-flex-item oj-text-md oj-text-secondary-color">
                <oj-bind-if test="[[tontineDetail.status === 'stopped']]">
                    <i class="fa fa-stop-circle" style="font-size:24px;color:black"> </i>
                </oj-bind-if>
                <oj-bind-if test="[[tontineDetail.status === 'started']]">
                    <i class="fa fa-play-circle" style="font-size:24px;color:green"> </i>
                </oj-bind-if>
                <oj-bind-if test="[[tontineDetail.status === 'pending']]">
                    <i class="fa fa-pause-circle" style="font-size:24px;color:orange"> </i>
                </oj-bind-if>
            </span>
        </h2>
        <div>
            <div class="oj-flex oj-flex-items-pad">
              <div class="oj-sm-6 oj-flex-item">
                <p style="text-align: center;">Ref : <b><oj-bind-text value="[[tontineDetail.id]]"></oj-bind-text></b></p>
              </div>
              <div class="oj-sm-6 oj-flex-item">
                  <p style="text-align: center;">Type: <b><oj-bind-text value="[[tontineDetail.type]]"></oj-bind-text></b></p>
              </div> 
              <oj-bind-if test="[[tontineDetail === 'started']]">
                <div class="oj-sm-6 oj-flex-item">
                    <p style="text-align: center;">Next recipient: <b><oj-bind-text value="[[tontineDetail.nextTour]]"></oj-bind-text></b></p>
                </div>
                <div class="oj-sm-6 oj-flex-item">
                    <p style="text-align: center;">Next round Date: <b><oj-bind-text value="[[tontineDetail.dateNextTour]]"></oj-bind-text></b></p>
                </div>
              </oj-bind-if>
              <div class="oj-sm-6 oj-flex-item">
                  
              </div> 
              <div class="oj-sm-6 oj-flex-item">

              </div>
            </div>
            <div class="oj-flex oj-flex-items-pad oj-hybrid-padding">
              <div class="oj-sm-6 oj-flex-item">
                  <p style="text-align: center;"><i class="fa fa-calendar-alt" style="font-size:36px;color:#D49D29"></i></p>
                  <p style="text-align: center;"><b>Start Date: </b><oj-bind-text value="[[tontineDetail.dateDebut]]"></oj-bind-text></p>
              </div>
              <div class="oj-sm-6 oj-flex-item">
                  <p style="text-align: center;"><i class="fa fa-calendar-alt" style="font-size:36px;color:#D49D29"></i></p>
                  <p style="text-align: center;"><b>End Date: </b><oj-bind-text value="[[tontineDetail.dateFin]]"></oj-bind-text></p>
              </div>
              <div class="oj-sm-6 oj-flex-item">
                  <p style="text-align: center;"><i class="fa fa-history" style="font-size:36px;color:#D49D29"></i></p>
                  <p style="text-align: center;"><b>Recurrence: </b><oj-bind-text value="[[tontineDetail.recurrence]]"></oj-bind-text></p>
              </div>
              <div class="oj-sm-6 oj-flex-item">
                  <p style="text-align: center;"><i class="fa fa-users" style="font-size:36px;color:#D49D29"></i></p>
                  <p style="text-align: center;"><b>Participants: </b><oj-bind-text value="[[tontineDetail.participants]]"></oj-bind-text></p>
              </div>
              <div class="oj-sm-6 oj-flex-item">
                  <p style="text-align: center;"><i class="fa fa-money-bill-alt" style="font-size:36px;color:#D49D29"></i></p>
                  <p style="text-align: center;"><b>Amount per round: </b><oj-bind-text value="[[tontineDetail.amount]]"></oj-bind-text>Dhs</p>
              </div>
              <div class="oj-sm-6 oj-flex-item">
                  <p style="text-align: center;"><i class="fa fa-wallet" style="font-size:36px;color:#D49D29"></i></p>
                  <p style="text-align: center;"><b>Total amount: </b><oj-bind-text value="[[tontineDetail.amount * 12]]"></oj-bind-text>Dhs</p>
              </div>
            </div>



        </div>
      </div>
    </div>
  </div>
</div>