<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <!--
       ** Oracle JET V7.2.0 hybrid mobile application header pattern.
       ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
       ** more information on how to use this pattern.
    -->
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <!-- This is where your main page content will be loaded -->
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <div class="oj-flex oj-flex-items-pad oj-hybrid-padding">

          <div class="oj-sm-12 oj-flex-item">
            <oj-toolbar id='myToolbar' aria-label='Editing Toolbar' aria-controls='controlled' :class="[[{'oj-toolbar-top-border': true, 
                                    'oj-toolbar-bottom-border': true}]]">
              <oj-button id="return" on-oj-action="[[btnReturn]]">
                <span style="font-size:24px;" class="oj-tabbar-item-icon fa fa-arrow-circle-left"></span>
                Return
              </oj-button>

              <oj-button id="chat">
                <span style="font-size:24px;" class="oj-tabbar-item-icon fa fa-comment-dots"></span>
                Chat with all
              </oj-button>
          </div>

        </div>
        <div>
          <oj-list-view id="listview" aria-label="list with static data" selection-mode="multiple"
            data-oj-binding-provider="none">
            <ul>
              <li id="andyjones">
                  <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between" :class="[[{'oj-sm-flex-direction-column': false}]]">
                    <span class="avatar avatar1"></span>
                    <oj-rating-gauge id="gauge1" value="5" readonly style="width:120px;height:25px;"></oj-rating-gauge>
                    <i class="fa fa-clock" style="font-size:36px;color:orange"></i>
                  </div>
                <div class="container">
                  <div>
                    <span class="name">Sanae Okacha</span>
                  </div>
                  <div>
                    <span class="oj-text-secondary-color" style="color:orange; font-weight: bold;">Payment planned for : 25/01/2020</span>
                    
                  </div>
                </div>
              </li>
              <li id="andrewbugsy">
                  <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between" :class="[[{'oj-sm-flex-direction-column': false}]]">
                    <span class="avatar avatar2"></span>
                    <oj-rating-gauge id="gauge1" value="3" readonly style="width:120px;height:25px;"></oj-rating-gauge>
                    <i class="fa fa-clock" style="font-size:36px;color:orange"></i>
                  </div>
                <div class="container">
                  <div>
                    <span class="name">Asmae Kabbassi</span>
                  </div>
                  <div>
                    <span class="oj-text-secondary-color" style="color:orange; font-weight: bold;">Payment planned for : 25/12/2019</span>
                    
                  </div>
                </div>
              </li>
              <li id="bobjones">
                  <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between" :class="[[{'oj-sm-flex-direction-column': false}]]">
                    <span class="avatar avatar3"></span>
                    <oj-rating-gauge id="gauge1" value="4" readonly style="width:120px;height:25px;"></oj-rating-gauge>
                    <i class="fa fa-check-circle" style="font-size:36px;color:green"></i>
                  </div>
                <div class="container">
                  <div>
                    <span class="name">Mohamed zniber</span>
                  </div>
                  <div>
                    <span class="oj-text-secondary-color" style="color:green; font-weight: bold;">Payment already made : 25/10/2019</span>
                    
                  </div>
                </div>
              </li>
              <li id="bartbuckler">
                <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between" :class="[[{'oj-sm-flex-direction-column': false}]]">
                  <span class="avatar avatar4"></span>
                  <oj-rating-gauge id="gauge1" value="4" readonly style="width:120px;height:25px;"></oj-rating-gauge>
                  <i class="fa fa-check-circle" style="font-size:36px;color:green"></i>
                </div>
                <div class="container">
                  <div>
                    <span class="name">Imane Yassir</span>
                  </div>
                  <div>
                    <span class="oj-text-secondary-color" style="color:green; font-weight: bold;">Payment already made : 25/09/2019</span>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between" :class="[[{'oj-sm-flex-direction-column': false}]]">
                  <span class="avatar avatar5"></span>
                  <oj-rating-gauge id="gauge1" value="4" readonly style="width:120px;height:25px;"></oj-rating-gauge>
                  <i class="fa fa-check-circle" style="font-size:36px;color:green"></i>
                </div>

                <div class="container">
                  <div>
                    <span class="name">Yousra Youmna</span>
                  </div>
                  <div>
                    <span class="oj-text-secondary-color" stvyle="color:green; font-weight: bold;">Payment already made : 25/08/2019</span>
                    
                  </div>
                </div>
              </li>
            </ul>
          </oj-list-view>
        </div>
      </div>
    </div>
  </div>
</div>