<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page">
    <div class="oj-applayout-fixed-top">
        <!--
       ** Oracle JET V7.2.0 hybrid mobile application header pattern.
       ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
       ** more information on how to use this pattern.
    -->
        <header role="banner" class="oj-hybrid-applayout-header">
            <oj-module config="[[headerConfig]]"></oj-module>
        </header>
    </div>
    <!-- This is where your main page content will be loaded -->
    <div class="oj-applayout-content">
        <div role="main" class="oj-hybrid-applayout-content">
            <div class="oj-hybrid-padding">

                <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-flex-end"
                    :class="[[{'oj-sm-flex-direction-column': false}]]">
                    <oj-menu-button id="menuButton">
                        <span style="font-size:22px"><i style="font-size:18px" class="fa fa-plus-circle"></i> New Daret </span>
                        <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
                        <oj-menu id="myMenu" slot="menu" style="display:none" on-oj-action="[[menuItemAction]]">
                            <oj-option id="free" value="free">
                                <span class="fa fa-users" slot="startIcon"></span>Create a new free Daret
                            </oj-option>
                            <!--
                            <oj-option id="secure" value="secure">
                                <span class="fa fa-user-shield" slot="startIcon"></span>Create a new Secure Daret
                            </oj-option>
                            -->
                            <oj-option id="divider"></oj-option>
                            <oj-option id="existing" value="existing">
                                <span class="fa fa-user-shield" slot="startIcon"></span>Join an existing Daret
                            </oj-option>
                        </oj-menu>
                    </oj-menu-button>
                </div>
                <div>
                    <div id="listviewContainer">

                        <oj-list-view id="listview" style="width:100%;height:100vh-20px" data="[[dataSource]]">
                            <template slot="itemTemplate" data-oj-as="item">
                                <li class="oj-swipeactions-container">
                                    <oj-swipe-actions on-oj-action="[[handleAction]]">
                                        <div
                                            style="background-color:#f7f7f8;background-image: linear-gradient(#ffffff, #f1d8a2);">
                                            <span class="oj-text-sm oj-text-primary-color" style="font-weight:bold">Ref.
                                                <oj-bind-text value="[[item.data.id]]"></oj-bind-text></span>
                                            <div class="oj-flex row" style="padding-bottom: 20px;">
                                                <div class="oj-lg-10 oj-md-10 oj-sm-10"
                                                    style="font-weight:bold; font-size:24px;color:#D49D29">
                                                    <oj-bind-if test="[[item.data.status === 'stopped']]">
                                                        <i class="fa fa-stop-circle" style="font-size:24px;color:black">
                                                        </i>
                                                    </oj-bind-if>
                                                    <oj-bind-if test="[[item.data.status === 'started']]">
                                                        <i class="fa fa-play-circle" style="font-size:24px;color:green">
                                                        </i>
                                                    </oj-bind-if>
                                                    <oj-bind-if test="[[item.data.status === 'pending']]">
                                                        <i class="fa fa-pause-circle"
                                                            style="font-size:24px;color:orange"> </i>
                                                    </oj-bind-if>
                                                    <oj-bind-text value="[[item.data.title]]"></oj-bind-text> -
                                                    <oj-bind-text value="[[item.data.amount]]"></oj-bind-text> Dhs
                                                </div>
                                                <div class="oj-lg-2 oj-md-2 oj-sm-2">
                                                    <oj-status-meter-gauge id="gauge4" min="0" max="100"
                                                        thresholds="[[thresholdValues]]"
                                                        value="[[(item.data.round / item.data.participants) * 100]]"
                                                        readonly="true"
                                                        class="circular-status-meter-common circular-status-meter-small"
                                                        orientation="circular">
                                                </div>
                                                <!--
                                                <div class="oj-lg-12 oj-md-12 oj-sm-12">
                                                    <oj-bind-if test="[[item.data.status === 'pending']]">
                                                        <b style="font-size:14px;color:red">
                                                            <oj-bind-text value="Pending participants...">
                                                            </oj-bind-text>
                                                        </b>
                                                    </oj-bind-if>
                                                </div>
                                                <div class="oj-lg-12 oj-md-12 oj-sm-12">
                                                    <oj-bind-if test="[[item.data.status === 'stopped']]">
                                                        <b style="font-size:14px;color:red">
                                                            <oj-bind-text value="Invite your participants by sharing the code"></oj-bind-text>
                                                        </b>
                                                        <b style="font-size:18px;color:black">
                                                            <oj-bind-text value="[[item.data.id]]"></oj-bind-text>
                                                        </b>
                                                    </oj-bind-if>
                                                </div>
                                                -->
                                            </div>

                                            <div style="font-size: initial;line-height: 1.5em; height: 3em; overflow: hidden; text-overflow: ellipsis"
                                                class="oj-text-sm oj-text-secondary-color">
                                                <div class="oj-flex row">
                                                    <oj-bind-if test="[[item.data.status === 'started']]">
                                                        <div class="oj-lg-4 oj-md-4 oj-sm-4">
                                                            <span class="data"><b>participants: </b><span>
                                                                    <oj-bind-text value="[[item.data.participants]]">
                                                                    </oj-bind-text>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </oj-bind-if>
                                                    <oj-bind-if test="[[item.data.status !== 'started']]">
                                                        <div class="oj-lg-6 oj-md-6 oj-sm-6">
                                                            <span class="data"><b>participants: </b><span>
                                                                    <oj-bind-text value="[[item.data.round]]">
                                                                    </oj-bind-text> /
                                                                    <oj-bind-text value="[[item.data.participants]]">
                                                                    </oj-bind-text>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </oj-bind-if>
                                                    <oj-bind-if test="[[item.data.status === 'started']]">
                                                        <div class="oj-lg-4 oj-md-4 oj-sm-4">

                                                            <span class="data">
                                                                <b>Rounds: </b>
                                                                <span>
                                                                    <oj-bind-text value="[[item.data.round]]">
                                                                    </oj-bind-text> /
                                                                    <oj-bind-text value="[[item.data.participants]]">
                                                                    </oj-bind-text>
                                                                </span>
                                                            </span>

                                                        </div>
                                                    </oj-bind-if>
                                                    <div class="oj-lg-4 oj-md-4 oj-sm-4">
                                                        <span class="data">
                                                            <b>Type: </b>
                                                            <span>
                                                                <oj-bind-text value="[[item.data.type]]"></oj-bind-text>
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <oj-bind-if test="[[item.data.status === 'started']]">
                                                        <div class="oj-lg-6 oj-md-6 oj-sm-6">
                                                            <span class="data"><b>Next round: </b><span>
                                                                    <oj-bind-text value="[[item.data.dateNextTour]]">
                                                                    </oj-bind-text>
                                                                </span></span>
                                                        </div>
                                                        <div class="oj-lg-6 oj-md-6 oj-sm-6">
                                                            <span class="data"><b>Next person: </b><span>
                                                                    <oj-bind-text value="[[item.data.nextTour]]">
                                                                    </oj-bind-text>
                                                                </span></span>
                                                        </div>
                                                    </oj-bind-if>
                                                    <div class="oj-lg-12 oj-md-12 oj-sm-12">
                                                        <oj-bind-if test="[[item.data.status === 'pending']]">
                                                            <b style="font-size:14px;color:red">
                                                                <oj-bind-text value="Pending participants...">
                                                                </oj-bind-text>
                                                            </b>
                                                        </oj-bind-if>
                                                    </div>
                                                    <div class="oj-lg-12 oj-md-12 oj-sm-12">
                                                        <oj-bind-if test="[[item.data.status === 'stopped']]">
                                                            <b style="font-size:14px;color:red">
                                                                <oj-bind-text value="Share this code with the participants: "></oj-bind-text>
                                                            </b>
                                                            <b style="font-size:14px;color:black">
                                                                <oj-bind-text value="[[item.data.id]]"></oj-bind-text>
                                                            </b>
                                                        </oj-bind-if>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <template slot="start">
                                            <oj-option value="open">Open
                                                <span class="demo-icon-font fa fa-eye" slot="startIcon"></span>
                                            </oj-option>
                                        </template>
                                        <template slot="end">
                                            <!--
                                            <oj-option class="oj-swipeactions-neutral" value="more">Process
                                                <span class="demo-icon-font demo-library-icon-24"
                                                    slot="startIcon"></span>
                                            </oj-option>
                                            -->
                                            <oj-bind-if test="[[item.data.status === 'started']]">
                                                <oj-option value="debt">Generate "Compromisory note"
                                                    <span class="demo-icon-font demo-library-icon-24"
                                                        slot="startIcon"></span>
                                                </oj-option>
                                                <oj-option value="bank">Prepare Bank transfer
                                                    <span class="demo-icon-font demo-library-icon-24"
                                                        slot="startIcon"></span>
                                                </oj-option>
                                            </oj-bind-if>
                                            <oj-bind-if test="[[item.data.status === 'pending']]">
                                                <oj-option class="oj-swipeactions-attention" value="cancel">Cancel the
                                                    request
                                                    <span class="demo-icon-font fa fa-stop-circle"
                                                        slot="startIcon"></span>
                                                </oj-option>
                                            </oj-bind-if>
                                            <oj-bind-if test="[[item.data.status === 'stopped']]">
                                                <oj-option class="oj-swipeactions-danger oj-swipeactions-default"
                                                    value="trash">Remove
                                                    <span class="demo-icon-font fa fa-trash" slot="startIcon"></span>
                                                </oj-option>
                                            </oj-bind-if>
                                        </template>
                                    </oj-swipe-actions>
                                </li>
                            </template>
                        </oj-list-view>

                        <oj-menu id="moremenu" style="display:none" aria-label="More Actions"
                            on-oj-action="[[handleMenuItemAction]]" open-options.display="sheet"
                            open-options.launcher="listview">
                            <oj-option id="debt">Generate the "Acknowledgment of debt"</oj-option>
                            <oj-option id="bank">Prepare the Bank transfer</oj-option>
                        </oj-menu>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div id="popupWrapper">
        <oj-popup id="popup1" class="demo-popup" tail="none" position.my.horizontal="center"
            position.my.vertical="bottom" position.at.horizontal="center" position.at.vertical="bottom"
            position.of="window" position.offset.y="-10" modality="modal"
            on-oj-animate-start="[[startAnimationListener]]">
            <div class="demo-popup-body">
                <div class="demo-popup-header">
                    <h5>Email sent</h5>
                </div>
                <div class="demo-popup-content">
                    <p><i class="fa fa-envelope" style="font-size:36px;color:green"></i></p>
                    <p>Your document has been sent to your email box</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra,
                        risus ac interdum sollicitudin, sem erat ultrices ipsum</p>

                    Daret'App Team<br />
                </div>
                <div class="demo-popup-footer">
                    <oj-button id="btnCancel" on-click="[[cancelListener]]">
                        Ok
                    </oj-button>
                </div>
            </div>
        </oj-popup>
    </div>

</div>