<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page">
    <div class="oj-applayout-fixed-top">
        <!--
       ** Oracle JET V7.2.0 hybrid mobile application header pattern.
       ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
       ** more information on how to use this pattern.
    -->
        <header role="banner" class="oj-hybrid-applayout-header">
            <oj-module config="[[headerConfig]]"></oj-module>
        </header>
    </div>
    <!-- This is where your main page content will be loaded -->
    <div class="oj-applayout-content">
        <div role="main" class="oj-hybrid-applayout-content">
            <div class="oj-hybrid-padding">

                <div>
                    <div id="listviewContainer">

                        <oj-form-layout label-edge="start">
                            <div class="oj-flex row">
                                <div class="oj-lg-10 oj-md-10 oj-sm-10">
                                    <oj-label for="clear-icon-always-required">Search</oj-label>
                                    <oj-input-text id="clear-icon-always" value="{{valueClearIconAlways}}"
                                        clear-icon="always"></oj-input-text>
                                </div>
                                <div class="oj-lg-2 oj-md-2 oj-sm-2">
                                    <oj-button id="return" on-oj-action="[[btnSearch]]">
                                        <span style="font-size:24px;" class="oj-tabbar-item-icon fa fa-search"></span>
                                    </oj-button>
                                </div>
                            </div>
                        </oj-form-layout>

                        <oj-list-view id="listview" style="width:100%;height:100vh-20px" data="[[dataSource]]">
                            <template slot="itemTemplate" data-oj-as="item">
                                <li class="oj-swipeactions-container">
                                    <oj-swipe-actions on-oj-action="[[handleAction]]">
                                        <div>
                                            <span class="oj-text-sm oj-text-primary-color" style="font-weight:bold">Ref.
                                                <oj-bind-text value="[[item.data.id]]"></oj-bind-text></span>
                                            <div class="oj-flex row">
                                                <div class="oj-lg-10 oj-md-10 oj-sm-10"
                                                    style="font-weight:bold; font-size:24px;color:#D49D29">
                                                    <i class="fa fa-pause-circle" style="font-size:24px;color:#D49D29">
                                                    </i>
                                                    <oj-bind-text value="[[item.data.title]]"></oj-bind-text> -
                                                    <oj-bind-text value="[[item.data.amount]]"></oj-bind-text> Dhs
                                                </div>
                                                <div class="oj-lg-2 oj-md-2 oj-sm-2">
                                                    <oj-status-meter-gauge id="gauge4" min="0" max="100"
                                                        thresholds="[[thresholdValues]]" value="[[(item.data.round / item.data.participants) * 100]]" readonly="true"
                                                        class="circular-status-meter-common circular-status-meter-small"
                                                        orientation="circular">
                                                </div>
                                            </div>

                                            <div style="padding-top: 15px;line-height: 1.5em; height: 3em; overflow: hidden; text-overflow: ellipsis"
                                                class="oj-text-sm oj-text-secondary-color">
                                                <div class="oj-flex row">
                                                    <div class="oj-lg-4 oj-md-4 oj-sm-4">
                                                        <span class="data"><b>participants: </b><span>
                                                                <oj-bind-text value="[[item.data.round]]"></oj-bind-text>/
                                                                <oj-bind-text value="[[item.data.participants]]"></oj-bind-text>
                                                            </span></span>
                                                    </div>
                                                    <div class="oj-lg-4 oj-md-4 oj-sm-4">
                                                    <!--
                                                        <span class="data">
                                                            <b>Max: </b><span class="circle">
                                                                <oj-bind-text value="10"></oj-bind-text>
                                                            </span>
                                                        </span>
                                                         -->
                                                    </div>
                                                   
                                                    <div class="oj-lg-4 oj-md-4 oj-sm-4">
                                                        <span class="data">
                                                            <b>Type: </b>
                                                            <span>
                                                                <i class="fa fa-user-shield"
                                                                    style="font-size:24px;color:#D49D29"> </i>
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <div class="oj-lg-4 oj-md-4 oj-sm-4">
                                                        <span class="data"><b>Recurrence: </b><span>
                                                                <oj-bind-text value="[[item.data.recurrence]]"></oj-bind-text>
                                                            </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--
                                        <template slot="start">
                                            <oj-option value="open">Ouvrir
                                                <span class="demo-icon-font fa fa-eye" slot="startIcon"></span>
                                            </oj-option>
                                        </template>
                                        -->
                                        <template slot="end">
                                            <oj-option class="oj-swipeactions-neutral" value="submit">Submit request to
                                                join
                                                <span class="demo-icon-font demo-library-icon-24"
                                                    slot="startIcon"></span>
                                            </oj-option>
                                        </template>
                                    </oj-swipe-actions>
                                </li>
                            </template>
                        </oj-list-view>

                        <div id="popupWrapper">
                            <oj-popup id="popup1" class="demo-popup" tail="none" position.my.horizontal="center"
                                position.my.vertical="bottom" position.at.horizontal="center"
                                position.at.vertical="bottom" position.of="window" position.offset.y="-10"
                                modality="modal" on-oj-animate-start="[[startAnimationListener]]">
                                <div class="demo-popup-body">
                                    <div class="demo-popup-header">
                                        <h5>Daret added</h5>
                                    </div>
                                    <div class="demo-popup-content">
                                        <p><i class="fa fa-check-circle" style="font-size:36px;color:green"></i></p>
                                        <p>Your request has been submitted successfully</p>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra,
                                            risus ac interdum sollicitudin, sem erat ultrices ipsum</p>

                                        Daret'App Team<br />
                                    </div>
                                    <div class="demo-popup-footer">
                                        <oj-button id="btnCancel" on-click="[[cancelListener]]">
                                            Ok
                                        </oj-button>
                                    </div>
                                </div>
                            </oj-popup>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>