<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <!--
       ** Oracle JET V7.2.0 hybrid mobile application header pattern.
       ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
       ** more information on how to use this pattern.
    -->
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <!-- This is where your main page content will be loaded -->
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Create a Free Daret</h1>
        <div style="font-size: x-large;">
          <span>
            <oj-bind-if test="[[tontineType === 'free']]">
              <i class="fa fa-users" style="font-size:36px;color:#D49D29"> </i>
            </oj-bind-if>
            <oj-bind-if test="[[tontineType === 'secure']]">
              <i class="fa fa-user-shield" style="font-size:36px;color:#D49D29"> </i>
            </oj-bind-if>
          </span>
          <oj-form-layout id="myform" label-edge="start" max-columns="1" direction="column">
            <oj-label style="font-size: large;" for='f1' show-required="[[true]]" class="oj-label-inline">Name</oj-label>
            <oj-input-text style="font-size: large;" id="f1"  placeholder="Daret's name" required="true" help.instruction="Name"
              value="{{name}}">
            </oj-input-text>
            <oj-label style="font-size: large;" for='f2' show-required="[[true]]" class="oj-label-inline">recurrence (Months)</oj-label>
            <oj-input-number id="f2" min="1" max="6" step="1" required="true"
              value="{{recurrence}}">
            </oj-input-number>
            <oj-label style="font-size: large;" for='f3' show-required="[[true]]" class="oj-label-inline">Participants</oj-label>
            <oj-input-number id="f3" min="0" max="50" step="1" required="true"
              value="{{participant}}">
            </oj-input-number>
            <oj-label style="font-size: large;" for='f4' show-required="[[true]]" class="oj-label-inline">Amount per round</oj-label>
            <oj-input-number id="f4" min="100" max="10000000" step="100" required="true"
              value="{{amount}}">
            </oj-input-number>
            <!--
            <oj-input-date id="f5" label-hint="Start Date" value='' required="true">
            </oj-input-date>
            -->
            <!--
            <oj-text-area id="f3" label-hint="Description" rows='4' value='' placeholder="Daret's description" 
            required="true">
          </oj-text-area>
          -->

            <oj-button id="submit" on-oj-action="[[btnCreate]]">
              Create the free Daret
              <span style="font-size:24px;" class="oj-tabbar-item-icon fa fa-arrow-circle-right"></span>
            </oj-button>

          </oj-form-layout>



        </div>

        <div id="popupWrapper">
          <oj-popup id="popup1" class="demo-popup" tail="none" position.my.horizontal="center"
            position.my.vertical="bottom" position.at.horizontal="center" position.at.vertical="bottom"
            position.of="window" position.offset.y="-10" modality="modal"
            on-oj-animate-start="[[startAnimationListener]]">
            <div class="demo-popup-body">
              <div class="demo-popup-header">
                <h5>Daret added</h5>
              </div>
              <div class="demo-popup-content">
                <p><i class="fa fa-check-circle" style="font-size:36px;color:green"></i></p>
                <p>Your Daret has been created successfully</p>


                <oj-bind-if test="[[tontineType === 'free']]">
                  <p>Please share this code with the people who will participate to this Daret</p>

                  <h2 style="color:black">
                    <oj-bind-text value="[[ref]]"></oj-bind-text>
                  </h2>
                </oj-bind-if>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra,
                    risus ac interdum sollicitudin, sem erat ultrices ipsum</p>

                Daret'App Team<br />
              </div>
              <div class="demo-popup-footer">
                <oj-button id="btnCancel" on-click="[[cancelListener]]">
                  Ok
                </oj-button>
              </div>
            </div>
          </oj-popup>
        </div>

      </div>
    </div>
  </div>
</div>