/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

/* Hides the content area until we are ready to display after paddings have been adjusted. 
    oj-complete is a marker class that is applied by the appController 
    after adjusting the content area. */
.oj-applayout-content:not(.oj-complete) {
  visibility: hidden;
}

.demo-james-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.demo-profile-name {
  font-size: 1.714rem;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-bottom: 42px;
}

.demo-app-name {
  padding-top: 40px;
  color: #979899;
}

.demo-panel-customizations {
  width:  300px;
  height: 150px;
}

.demo-list-navigation {
  height: 100px;
}

.circle {
  height: 20px;
  width: 20px;
  display: table-cell;
  text-align: center;
  /* vertical-align: middle; */
  border-radius: 50%;
  background: #D49D29;
  font-weight:bold;
  color: white;
}
/*********************************************/
.demo-signin-bg {
  height: 100vh;
  /*background-image: url("./images/MobilePT.jpg");*/
  background-image: url("./images/zelij1.jpg");
  background-size: cover;
  background-position-y: 10%; }

.demo-signin-column {
  height: 100vh;
  position: relative; }

.demo-signin-column > * {
  z-index: 2; }

.demo-signin-column:before {
  content: ' ';
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); }

@media only screen and (max-height: 460px) {
.demo-circle-flex-item {
transform: scale(0.45);
transform-origin: 100% 0; } }

@media only screen and (max-height: 430px) {
  .demo-signin-appname {
    transform: scale(0.7);
    transform-origin: 0 100%; } }

@media only screen and (max-height: 410px) {
  .demo-signin-appname {
    transform: scale(0.7);
    transform-origin: 0 100%; } }

.demo-circle-logo-container {
  height: 152px;
  width: 152px;
  border-radius: 50%;
  border: solid 1px;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 4px;
  margin: 20px; }

.demo-circle-logo {
background: url("./images/Dart-logo.jpg") no-repeat center;
background-color: rgba(255, 255, 255);
background-size: 100%;
border-radius: 50%;
height: 150px;
width: 150px; }

h1.demo-signin-appname {
color: black;
line-height: 2rem; }

.demo-signin-form-container {
position: relative;
border-left: 4px solid #027bc7;
background-color: white;
margin: 20px 0 0 -4px; }
.demo-signin-form-container .demo-signin-button {
height: 3rem;
font-size: 1.250rem; }
.demo-signin-form-container .demo-signin-button-label {
font-size: 1.250rem; }
.demo-signin-form-container a.forgotLinkM {
white-space: nowrap;
line-height: 44px; }
.demo-signin-form-container a.forgotLinkM:link {
text-decoration: none;
margin-left: 12px; }

.demo-flex-zero {
flex: 0 0 auto; }

.avatar {
  border-radius: 50%;
  /*background-size: 35px 35px;*/
  width: 45px;
  height: 45px;
  display: inline-block;
}

.circular-status-meter-common{
    margin-top:5px;
    margin-bottom:5px;
    width:45%;
  }
  .circular-status-meter-large
  {
    height:100px;
  }
  .circular-status-meter-small
  {
    height: 45px;
    width: 45px;
  }

  /* ----------------------------------------------------- */
/* profile page style */
/* profile top section background */
.demo-profile-top-section-gradient-blue {
  background: linear-gradient(to bottom, #0571CD 83px, #058EFF 83px); }

.demo-profile-top-section-gradient-grey {
  background: linear-gradient(to bottom, #ebebeb 83px, #F9F9F9 83px); }

.demo-profile-photo {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  object-fit: cover; 
  background-image: url('./images/photo profil.jpg');
  background-size: 100px;
}

.demo-hide-photo-input {
  display: none; }

.demo-profile-photo-container {
  padding: 4px;
  width: 106px;
  height: 106px;
  margin: auto;
  background-color: white;
  border-radius: 50%; }

.demo-profile-top-section {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 225px;
  text-align: center; }

h2.demo-profile-name {
  color: white; }

.demo-profile-title {
  color: white; }

a.demo-change-photo {
  color: white;
  background-color: transparent; }
  a.demo-change-photo:active {
    background-color: transparent; }

.demo-profile-item-content {
  display: inline-block;
  width: 100%; }
  .demo-profile-item-content label {
    color: rgba(0, 0, 0, 0.6); }

.demo-profile-line-wrapper {
  padding-bottom: 1rem; }

.demo-profile-item-icon {
  display: block;
  height: 100%; }

.demo-profile-item-icon-wrapper {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin-right: 0.625rem; }

.demo-mobile-icon {
  
  background-size: 16px 16px; }

.demo-office-icon {
  
  background-size: 16px 16px; }

.demo-email-icon {
  
  background-size: 16px 16px; }

.demo-address-icon {
  
  background-size: 16px 16px; }

.demo-mobile-icon-wrapper {
  background: #0572ce; }

.demo-office-icon-wrapper {
  background: #F7BB47; }

.demo-email-icon-wrapper {
  background: #17ABE3; }

.demo-address-icon-wrapper {
  background: #de893e; }

/* ----------------------------------------------------- */
/* about page social links */
.demo-about-social-item {
  text-align: center;
  margin-top: 1rem;
  min-width: 70px; }

/* Ensure the buttons displayed over the blurred photo have sufficient contrast */
.demo-transparent-header .oj-button.oj-default.oj-button-half-chrome.demo-hamburger-button .oj-button-icon,
.demo-transparent-header .oj-button.oj-default.oj-button-half-chrome.demo-back-button .oj-button-icon,
.demo-transparent-header .oj-button.oj-default.oj-button-half-chrome.demo-social-button .oj-button-icon {
  color: white; }

.demo-rss-icon,
.demo-twitter-icon,
.demo-chat-icon,
.demo-youtube-icon,
.demo-gplus-icon {
  height: 52px;
  width: 52px;
  border-radius: 50%; }

.demo-rss-icon {
  background: #7DBD5B url("../../images/rss.svg") no-repeat scroll center center;
  background-size: 52px; }

.demo-twitter-icon {
  background: #3FBFF5 url("../../images/twitter.svg") no-repeat scroll center center;
  background-size: 52px; }

.demo-chat-icon {
  background: #EF8135 url("../../images/chat.svg") no-repeat scroll center center;
  background-size: 52px; }

.demo-youtube-icon {
  background: #E14937 url("../../images/youtube.svg") no-repeat scroll center center;
  background-size: 52px; }

.demo-gplus-icon {
  background: #238BC7 url("../../images/facebook.svg") no-repeat scroll center center;
  background-size: 52px; }

/* ---------------------------------------------------- */
/* about page content style */
.demo-about-top-bg {
  padding-top: 56px;
  background: url("../../images/about_us_background.png") no-repeat;
  background-size: cover;
  min-height: 227px;
  text-align: center; }
  .demo-about-top-bg h2 {
    color: #fff; }

.demo-about-item {
  color: rgba(0, 0, 0, 0.6); }

.demo-about-list-header {
  text-transform: uppercase;
  line-height: 1.5rem;
  background: #f2f2f3;
  color: rgba(0, 0, 0, 0.6); }

.oj-applayout-content:not(.oj-complete) {
  visibility: hidden; }

/*
 * Set height for customer list and indexer
 */
.demo-customers-container {
  height: 100vh; }

.demo-private-policy {
  overflow-x: hidden; }

.demo-activity-flexbar {
  align-items: center;
  padding: 0.25em 0em;
  border-width: 1px 0px 0px;
  border-style: solid;
  border-color: #dfe0e1; }

.demo-activity-flexbar-start {
  padding-top: 0.4rem; }

.demo-pointer-cursor {
  cursor: pointer; }

.demo-nav-tabs {
  text-transform: uppercase; }

/*
 * This is to bring the glasspane on top of header (with z-index 100) when the navdrawer is active.
 * It's not required in ios theme because the navdrawer is having push effect
 * and the glasspane is already covering the header part also.
 */
.demo-offcanvas-outer-wrapper > .oj-offcanvas-glasspane {
  z-index: 101; }

/*# sourceMappingURL=fif.css.map */

.demo-icon-font-24 {
  color:#D49D29
}

.about-img {
  background-image: url(./images/home.jpg);
  background-repeat: no-repeat;
  height: 200px;
  background-size: 200px;
  background-position: center;

}

.home-img {
  background-image: url(./images/home-img.jpg);
  background-repeat: no-repeat;
  height: 250px;
  width: 275px;
  background-size: 300px;
  background-position: center;
}

.avatar1 {
  background-image: url('./images/dvt/2.png');
}
.avatar2 {
  background-image: url('./images/dvt/3.png');
}
.avatar3 {
  background-image: url('./images/dvt/12.png');
}
.avatar4 {
  background-image: url('./images/dvt/5.png');
}
.avatar5 {
  background-image: url('./images/dvt/6.png');
}