<!DOCTYPE html>
<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->

<!-- ************************ IMPORTANT INFORMATION ************************************
  This hybrid navigation drawer template is provided as an example of how to configure
  a JET hybrid mobile application with a navigation drawer as a single page application
  using ojRouter and oj-module.  It contains the Oracle JET framework and a default
  requireJS configuration file to show how JET can be setup in a common application.
  This project template can be used in conjunction with demo code from the JET
  website to test JET component behavior and interactions.

  Any CSS styling with the prefix "demo-" is for demonstration only and is not
  provided as part of the JET framework.

  Please see the demos under Cookbook/Patterns/App Shell: Hybrid Mobile and the CSS documentation
  under Support/API Docs/Non-Component Styling on the JET website for more information on how to use 
  the best practice patterns shown in this template.

  Aria Landmark role attributes are added to the different sections of the application
  for accessibility compliance. If you change the type of content for a specific
  section from what is defined, you should also change the role value for that
  section to represent the appropriate content type.
  ***************************** IMPORTANT INFORMATION ************************************ -->
<html lang="en-us">
  <head>
    <title>Oracle JET Starter Template - Hybrid Nav Drawer</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' *.oracle.com 'unsafe-inline' 'unsafe-eval'; style-src 'self' *.oracle.com  'unsafe-inline'; img-src * data:">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" href="css/images/favicon.ico" type="image/x-icon" />

    <!-- This is the main css file for the default Alta theme -->
    <!-- injector:theme -->
    <link rel="stylesheet" href="css/libs/oj/v7.2.0/alta/oj-alta-min.css" type="text/css"/>
    <!-- endinjector -->
    <!-- This contains icon fonts used by the starter template -->
    <link rel="stylesheet" href="css/demo-alta-site-min.css" type="text/css"/>
	  <link rel="stylesheet" href="css/libs/fa/all.css" type="text/css"/>

    <!-- This is where you would add any app specific styling -->
    <link rel="stylesheet" href="css/app.css" type="text/css"/>
  </head>
  <body>
    <!-- template for rendering navigation items in the drawer -->
    <script type="text/html" id="navTemplate">
      <li><a href="#">
        <span :class="[[$data['iconClass']]]"></span>
        <oj-bind-text value="[[$data['name']]]"></oj-bind-text>
      </a></li>
    </script>
    
    <div id="globalBody" class="oj-offcanvas-outer-wrapper oj-offcanvas-page">
      <!--
         ** Oracle JET V7.2.0 hybrid mobile application navigation drawer pattern.
         ** Please see the demos under Cookbook/Patterns/App Shell: Hybrid Mobile 
         ** and the CSS documentation under Support/API Docs/Non-Component Styling
         ** on the JET website for more information on how to use this pattern.
      -->
      <oj-bind-if test="[[router.stateId() !== 'login']]">
        <div id="navDrawer" role="navigation" class="oj-hybrid-applayout-offcanvas oj-contrast-marker oj-offcanvas-start">
          <!-- User Profile -->
          <img alt="profile image" src="css/images/photo profil.jpg" class="demo-james-icon">

          <h2 class="demo-profile-name">Bonjour Sanae</h2>
          <!-- Navigation -->
          <oj-navigation-list id="navList" class="oj-navigationlist-stack-icon-label"
                              data="[[navDataProvider]]"
                              edge="start"
                              item.renderer="[[KnockoutTemplateUtils.getRenderer('navTemplate', true)]]"
                              on-click="[[toggleDrawer]]"
                              selection="{{router.stateId}}">
          </oj-navigation-list>
          <div class="oj-flex-bar oj-sm-justify-content-center">
            <h2 class="demo-app-name">Daret'App</h2>
          </div>
        </div>
      </oj-bind-if>
   
      <oj-module id="pageContent" config="[[moduleConfig]]"></oj-module>

      <oj-bind-if test="[[router.stateId() !== 'login' && router.stateId() !== 'accueil']]">
        <div class="oj-applayout-fixed-bottom">
          
          <div role="navigation" class="oj-hybrid-applayout-navbar-app">
            <oj-navigation-list id="navList" class="oj-navigationlist-stack-icon-label" data="[[navDataProvider]]" edge="top" item.renderer="[[KnockoutTemplateUtils.getRenderer('navTemplate', true)]]" selection="{{router.stateId}}">
            </oj-navigation-list>
          </div>
        
        </div>
    </oj-bind-if>

    </div>
    
    <script type="text/javascript" src="js/libs/require/require.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

  </body>

</html>
